.DS_Store
node_modules
build
.svelte-kit
.vscode
.vercel
package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src/routes/(protected)/*.svelet
src/routes/(protected)/*.ts
src/routes/(protected)/*.css
!src/routes/(protected)/info.txt