/www/.DS_Store
/www/node_modules
/www/build
/www/.svelte-kit
/www/.vscode
/www/.vercel
/www/package
/www/.env
/www/.env.*
/www/vite.config.js.timestamp-*
/www/vite.config.ts.timestamp-*
/www/src/routes/protected/tmp/+page.svelte

/go/.DS_Store
/go/node_modules
/go/build
/go/.svelte-kit
/go/.vscode
/go/.vercel
/go/package
/go/.env
/go/.env.*
/go/vite.config.js.timestamp-*
/go/vite.config.ts.timestamp-*