@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");
body {
    background-color: rgb(1, 0, 7);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgb(15, 163, 18), rgb(15, 126, 163));
    border-radius: 2px;
}

html,
body {
    scroll-behavior: smooth;
}

.screenMiddle {
    top: 50%;
    left: 50%;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
article,
span {
    font-family: "Roboto Mono", monospace;
}

#ring {
    pointer-events: none;
    z-index: 99999999999;
    overflow: hidden;
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    filter: blur(20px);
    opacity: 0.3;
    animation: ring 5s infinite ease-in-out;
    transition: opacity 1000ms ease-in-out;
}
#block {
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    width: 500px;
    aspect-ratio: 2;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
        45deg,
        rgba(255, 0, 0),
        rgba(255, 200, 0),
        rgba(81, 255, 0)
    );
    animation: blockRotate 20s infinite linear, wave3 10s infinite linear;
    transition: filter 2500ms ease-in-out, opacity 1000ms ease-in-out;
}

@keyframes ring {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}
@keyframes blockRotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.right {
    text-align: right;
    float: right;
    margin-right: 15px;
}
.left {
    text-align: left;
    float: left;
    margin-left: 15px;
}

#content {
    position: absolute;
    top: 120%;
    width: 100%;
    height: fit-content;
}

.niceBlue {
    background-color: rgb(94, 150, 191);
}
.nicePink {
    background-color: rgb(180, 94, 191);
}

article {
    display: block;
    float: right;
    width: 70%;
    height: fit-content;
    font-size: 25px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 10%;
    margin-bottom: 100%;
}
h1 {
    font-size: 60px;
    animation: textShadow 5s infinite ease-in-out;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

#title {
    background: linear-gradient(
        45deg,
        rgb(255, 0, 0),
        rgb(255, 200, 0),
        rgb(81, 255, 0)
    );
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    font-size: 80px;
    color: transparent;
    transform: translate(-50%, -50%);
}
#title:hover {
    transform: translate(-100%, 100%);
}

#titleUnderline {
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: auto;

    background: linear-gradient(
        45deg,
        rgba(255, 0, 0),
        rgba(255, 200, 0),
        rgba(81, 255, 0)
    );
    background-size: 95% 5px;
    background-repeat: no-repeat;
    background-position: 50% 102%;
    animation: intro 2s forwards ease-in-out, wave 10s infinite linear;
}

@keyframes wave {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
@keyframes intro {
    0% {
        transform: translate(-50%, -200%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 0.8;
    }
}
#arrow {
    user-select: none;
    margin: auto;
    padding: 0;
    z-index: -999;
    width: 248px;
    height: fit-content;
    position: absolute;
    align-content: center;
    top: 94%;
    left: 50%;
    color: rgb(66, 66, 66);
    animation: arrowIntro 30s 0s forwards ease-in-out,
        hovver 2s alternate-reverse 5s infinite forwards ease-in-out;
}
@keyframes arrowIntro {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    100% {
        opacity: 0.5;
        transform: translate(-50%, 0%);
    }
}
@keyframes hovver {
    0% {
        transform: translate(-50%, -100%);
    }
    100% {
        transform: translate(-50%, 0%);
    }
}
.keyword {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}
#navbar {
    z-index: 99;
    position: fixed;
    top: 50%;
    left: 10px;
    width: fit-content;
    height: fit-content;
    transform: translate(0%, -50%);
}
.navelement {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgb(63, 63, 63);
    border-radius: 50%;
    text-align: center;
    transition: all 500ms ease-in-out;
    animation: wave 10s linear forwards infinite;
}
.navelement span {
    opacity: 0;
    display: inline;
    position: absolute;
    color: rgb(253, 129, 129);
    font-size: 20px;
    width: fit-content;
    transform: translate(20%, 0);
    white-space: nowrap;
    user-select: none;
    left: 120%;
    background-color: rgb(63, 63, 63);
    padding: 7px;
    border-radius: 10px 10px 10px 10px;
    transition: transform 300ms ease-in-out, opacity 500ms ease-in-out;
}
.navelement:hover span {
    opacity: 0.8;
    transform: translate(0, 0);
}
.navicon {
    display: block;
    z-index: 0;
    color: rgb(253, 129, 129);
    margin: auto;
}
.navSelect {
    transform: translate(60%, 0%);
}
.navSelectHalf {
    transform: translate(30%, 0%);
}

#navbackground {
    pointer-events: none;
    opacity: 0.5;
    z-index: -9999;
    position: absolute;
    background: linear-gradient(
        45deg,
        rgb(253, 129, 129),
        rgb(253, 129, 129),
        rgb(220, 253, 129)
    );
    width: 400%;
    height: 200%;
    border-radius: 100%;
    top: -50%;
    left: -200%;
    animation: wave2 10s linear forwards infinite,
        blockRotate 20s linear forwards infinite;
}
@keyframes wave2 {
    0% {
        filter: blur(80px) hue-rotate(0deg);
    }
    100% {
        filter: blur(80px) hue-rotate(360deg);
    }
}

.cut {
    clear: both;
    opacity: 0.4;
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        45deg,
        rgb(253, 129, 129),
        rgb(253, 129, 129),
        rgb(220, 253, 129)
    );
    animation: wave 10s linear forwards infinite;
}

@keyframes wave3 {
    0% {
        filter: blur(130px) hue-rotate(0deg);
    }
    100% {
        filter: blur(130px) hue-rotate(360deg);
    }
}