@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

:root {
    /* Color pallet */
    --a: #10454F; /* Background */
    --b: #506266; /* Menus */
    --c: #818274; /* Secondary */
    --d: #a3ab78; /* Selected */
    --e: #bde038; /* Active */
    --f: #e03838; /* Disabled */
    --g: #131313; /* Text */
}
* {
    font-family: 'Heebo', sans-serif;
}
body,
.header,
.header ul {
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
    width: 100vw;
    background-color: var(--a);
}
#header {}
#content {
    opacity: 0%;
    animation: fadeIn 1s ease-out 50ms forwards;
}
@keyframes fadeIn {
    0% {opacity: 0%;};
    50% {opacity: 0%;}
    100% {opacity: 100%;};
}
.header {
    position:fixed;
    width: 100vw;
    
    z-index: 999;
    top:0px;

    font-family: 'Heebo', sans-serif;

    user-select: none;
    
    list-style-type: none;
    background-color: var(--b);
    box-shadow: 0 2px 5px var(--g);
}
.header ul {
    font-size: 0px;
}
.headerITEM {
    white-space: nowrap;
    text-transform: lowercase;
    cursor: pointer;
    font-size: 20px;
    color: var(--g);
    background-color: var(--d);
    padding-right: 20px;
    padding-left: 20px;
    transition: padding-bottom 1000ms ease-in-out;
}
.headerITEM:hover {
    transition: padding-bottom 100ms ease-in-out;
    padding-bottom: 5px;
    background-color: var(--e);
    box-shadow: var(--e) 0 0 10px;
}
.headerACTIVE {
    padding-bottom: 5px;
    background-color: var(--e);
    box-shadow: 0 3px 5px var(--e);
    transition: padding-bottom 1000ms ease-in-out;
}
.headerACTIVE:hover {
    transition: padding-bottom 100ms ease-in-out;
    padding-bottom: 10px;
    box-shadow: 0 3px 7px var(--e);
}
.headerITEM:active {
    background-color: var(--e);
}
.center {
    margin: 0 auto;
    text-align: center;
}
.content {transition: 1s ease-out;}
input {
    user-select: none;
    outline: 0;
    background-color: var(--b);
    border-right-width: 3px;
    border-left-width: 3px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-color: var(--d);
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--g);
    transition: border-color 1000ms ease-in-out;
    transition: box-shadow 1000ms ease-in-out;
    margin: 3px
}
input:focus {
    transition: border-color 250ms ease-in-out;
    transition: box-shadow 250ms ease-in-out;
    border-color: var(--e);
    box-shadow: 0 0 5px var(--e);
}
input:disabled {
    transition: border-color 250ms ease-in-out;
    transition: box-shadow 250ms ease-in-out;
    border-color: var(--f);
}
input:disabled:hover {
    transition: border-color 250ms ease-in-out;
    transition: box-shadow 250ms ease-in-out;
    box-shadow: 0 0 6px var(--f);
}
input::placeholder {
    color: var(--a)
}
button {
    user-select: none;
    outline: 0;
    background-color: var(--b);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: var(--d);
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: var(--g);
    transition: border-color 1000ms ease-in-out;
    transition: box-shadow 1000ms ease-in-out;
}
button:disabled {
    transition: border-color 250ms ease-in-out;
    transition: box-shadow 250ms ease-in-out;
    border-color: var(--f);
}
button:active {
    transition: border-color 250ms ease-in-out;
    transition: box-shadow 250ms ease-in-out;
    border-color: var(--e);
    box-shadow: 0 0 5px var(--e);
}
button:active:disabled {
    transition: border-color 250ms ease-in-out;
    transition: box-shadow 250ms ease-in-out;
    border-color: var(--f);
    box-shadow: 0 0 5px var(--f);
}
output {
    color: var(--g);
    background-color: var(--b);
    padding-left: 7px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 2px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 3px;
    border-right-width: 0px;
    border-color: var(--d);
    border-style: solid;
    transition: box-shadow 1000ms ease-in-out;
}
img {
    user-select: none;
    border-width: 0px;
    border-right-width: 3px;
    border-color: var(--d);
    border-right-style: solid;
    transition: border-color 1000ms ease-in-out;
}
img:hover {
    transition: border-color 250ms ease-in-out;
    user-select: none;
    border-right-width: 3px;
    border-color: var(--e);
    border-left-style: solid;
}
br {
    user-select: none;
}
span {
    user-select: none;
    background-color: var(--b);
    padding-top: 1px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    color: var(--a)
}
.output {
    transition: box-shadow 1000ms ease-in-out;
    z-index: 0;
    position:relative;
    left: -50%;
    transform: translate(50%, 0);
    float:right;
    width:auto;

}
.output:hover {
    transition: box-shadow 250ms ease-in-out;
    box-shadow: 0 0 10px var(--e);
}
article {
    background-color: var(--b);
    border-width: 2px 0px 2px 0px;
    border-color: var(--c);
    border-style: solid;
    margin-bottom: 15px;
    color: var(--e);
    font-family: 'Heebo', sans-serif;
    text-decoration: overline;
    text-decoration-thickness: 2px;

}