.pwdcheckinfo {
    width: fit-content;
    height: 30px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 0px 4px 0px 4px;
    border-style: solid;
    margin: auto;
    border-color: var(--c);
    background-color: var(--b);
    transition: height ease-in-out 500ms;
}
.pwdcheckinfoTitle {
    font-size: 20px;
    color: var(--d);
    text-decoration: underline;
}
.pwdcheckinfoText {
    color: var(--d);
    opacity: 70%;
}
.pwdcheckinfoTipp {
    color: var(--d);
    opacity: 50%;
}