@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');


.project {
    margin: auto;
    margin-bottom: 20px;
    background-color: var(--b);
    border-color: var(--d);
    border-width: 5px 0px 0px 0px;
    border-style: solid;
    padding: 5px;
    width: 70%;
    font-family: 'Heebo', sans-serif;
    user-select: none;
}
.projectTitle {
    text-decoration:underline ;
    text-decoration-color: var(--d);
    color: var(--d);
    cursor:pointer;
    user-select: none;
}
.projectIcon {
    width: 11px;
    border: none;
    padding-right: 2px;
    color: #bde038;
    cursor:default;
    user-select: none;
}
.projectIcon:hover {
    border: none;
}

.projectDescription {

}
.projectCreated {
    color: var(--c);
    padding-right: 10px;
    cursor:default;
    user-select: none;
}
.projectUpdated {
    color: var(--d);
    padding-right: 20px;
    cursor:default;
    user-select: none;
}
.projectForks {
    color: var(--a);
    padding-right: 10px;
    cursor:default;
    user-select: none;
}
.projectWatchers {
    color: var(--d);
    padding-right: 10px;
    cursor:default;
    user-select: none;
}
.projectIssues {
    color: var(--f);
    padding-right: 10px;
    cursor:default;
    user-select: none;
}
.projectTag {
    color: var(--a);
    padding-right: 10px;
    cursor:default;
    user-select: none;
}
.projectExample {
    user-select: none;
    font-family: 'Heebo', sans-serif;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--b);
    border-color: var(--d);
    border-width: 5px 0px 0px 0px;
    border-style: dashed;
    padding: 5px;
    width: 70%;
    cursor:default;
}